# Logs
logs
*.log

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/
.idea/

# Rust
Cargo.lock

.DS_Store

# Rustlings
lab-4/rustlings/solutions
lab-4/rustlings/target
